/* Main body elements */

body {
    background-color: black;
    height: 900px;
}
.gameboard {
    display: flex;
    height: 80%;
}

h1 {
    color: green;
    font-family: 'Sriracha', cursive;
    text-align: center;
    font-size: 50px;
}

aside {
    width: 15%;
    background-color: saddlebrown;
}

.container {
    width: 70%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(32, 116, 32);

}

p {
    margin: 0;
    padding: 0;
}

/* new deal button and the betting */




/* gameboard */

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hit-btn {
    height: 5em;
    width: 5em;
    background-image: url("imgs/Poker\ Chip.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.stay-btn {
    height: 5em;
    width: 5em;
    background-image: url("imgs/blue\ chip.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.table {
    align-self: center;
    height: 50%;
    width: 900px;
    background-color: rgb(32, 116, 32);
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-left: 2px solid;

}

/* Inside the table */

.playerHand {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    width: 500px;
}

.gamelog {
    height: 100px;
    width: 60%;
    justify-content: center;
    display: flex;
    align-self: center;
}
.dealerHand {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 500px;
}
.left {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.right {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    transform: translate(-65px);
}
.hit {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;

}
.dHit {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;

}

.dLeft {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.dRight {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    transform: translate(-65px);
}

.back {
    transform: scale(1.3);
}

/* Deck shuffler and card counting */

.rightside {
    display: flex;
    flex-direction: column;
}

.shuffle {
    height: 10%;
    width: 20%;
}

/* Features to maybe be added in the future */
/* .split {
    visibility: hidden;
} */





