.left {
    height: 280px;
    width: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.right {
    height: 280px;
    width: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}