.playerHand {
    display: inline;
}
.left {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.right {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block;
}
.hit {
    height: 110px;
    width: 80px;
    background-size: cover;
    background-position: center;
    display: inline-block; 
}
